
.name {
    margin-right: 30px;
}

.year, .day {
    margin-right: 12px;
}

.reset:hover{
    background-color: red;
}

button:hover {
    background-color: rgb(43, 131, 8);
    color: white;
}

#post{
    padding: 10px;
    color:red;
    font-size: larger;
    font-family: 'Bree Serif', serif;
    
}
#header3{
    padding: 10px;
    color:red;
    font-size: larger;
    font-family: 'Bree Serif', serif;
}
.row{
    display:inline-block
}
h1{
    font-family: 'Black Ops One', cursive;
    text-align: center;
    color: RGB(205, 92, 92);

}
body{
    background-image: url(https://i.dlpng.com/static/png/6829361_preview.png);
    background-size: cover;
}
form{
    padding:5px;
    margin-left:auto;
    margin-right:auto;
    font-size:larger;
    display: inline-block;
}
img{
    width:auto;
    height: 150px;
}
#intro p{
    font-family: 'Aladin', cursive;
    font-size: x-large;
    text-align: center;
}
#myForm{
    display:none;
    
}
#showform{
    font-size:x-large ;
    color: green;
}
#akan{
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.footer-copyright {
    font-size: larger;
    background-color: #efefef;
    width: 100%;
    
  }