
.name {
    margin-right: 30px;
}

.year, .day {
    margin-right: 12px;
}

.reset:hover{
    background-color: red;
}

button:hover {
    background-color: rgb(43, 131, 8);
    color: white;
}
form{
    padding-left: auto;
    padding-right: auto;
}
#post{
    padding: 10px;
    color:red;
    font-size: larger;
    font-family: 'Bree Serif', serif;
    
}
.row{
    display:inline-block
}
h1{
    font-family: 'Black Ops One', cursive;
    text-align: center;
    color: RGB(205, 92, 92);

}
form{
    border:5px solid white;
    margin-right: auto;
    margin-left: auto;
    
}
body{
    background-image: url(https://i.dlpng.com/static/png/6829361_preview.png);
    background-size: cover;
}
form{
    border: 1px solid black;
    padding:5px;
    margin-left:auto;
    margin-right:auto;
    font-size: x-large;
}
img{
    width:auto;
    height: 150px;
}
#intro p{
    font-family: 'Aladin', cursive;
    font-size: x-large;
    text-align: center;
}
